*{
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;

}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #252a34;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    background-image: url(https://source.unsplash.com/random/1600x900/?mobilegames);

} 
.container{
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;

}
.container h3{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.container .turn_of{
    border: 3px solid black;
    font-size: 1.6rem;
    font-weight: 700;
}
.container .turn_of:nth-child(even){
    border-right: none;

}
.bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 85px;
    height: 40px;
    background-color: #A8DF8E;
    z-index: -1;

}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid black;
}
.box{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid black;
}
.box:hover{
    background-color: #A8DF8E;
}
#play-again{
    background-color: #ff2e63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
#play-again:hover{
    background-color: aqua;
    padding: 10px 40px;
}